spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  mail:
    host: smtp.gmail.com
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true


jwt:
  secret: 3337586bc8e87dec727d193f09f505f91544cd2b83019a97d47e27be310b1a12
  expiration: 3600000

otp:
  length: 6
  expiration: 300000

logging:
  level:
    org.springframework.security: DEBUG


